{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    {% if messages %}
        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
            {% for message in messages %}
                <div class="toast show align-items-center text-white bg-info" role="alert" aria-live="assertive"
                     aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card shadow-lg" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://i.ibb.co/9qDhLJV/pexels-george-becker-792032.jpg"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form method="post">
                                        {% csrf_token %}

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                            <span class="h1 fw-bold mb-0">Django Bango</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign in to your
                                            account</h5>

                                        {{ form|crispy }}

                                        <div class="d-grid gap-2 pt-1 mb-2">
                                            <button class="btn btn-dark btn-lg" type="submit">Login</button>
                                        </div>
                                        <div class="d-grid gap-2 pt-1 mb-2">
                                            <a class="btn btn-primary btn-lg" href="#">Login with Google</a>
                                        </div>

                                        <!-- Link to password reset -->
                                        <p style="color: #393f81;" class="text-center">
                                            <a href="{% url 'password-reset' %}" style="color: #393f81;">Forgot password?</a>
                                        </p>
                                        <hr>
                                        <div class="d-grid gap-2 text-center">
                                            <a class="btn btn-success btn-lg btn-block" href="{% url 'user:signup' %}"> Create New Account
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
