{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %} Update Profile {% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4"> Update Information</h2>

                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ user_form | crispy }}
                        {{ customer_form | crispy }}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}